<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap">
  <div class="row" >
    <div class="col-md-12" >
      <div #content style="overflow-y: auto; height:450px;" >
        <div class="chat-room" >
          <aside class="tengah-side">
            <div class="chat-room-head">
            </div>
            <div #messages class="group-rom" *ngFor="let msg of chatService.messages">
              <div class="first-part odd">{{msg.senderName ?? "Unknown" }}</div>
              <div class="second-part">{{msg.message}}</div>
              <div class="third-part">{{msg.createdDateTime}}</div>
            </div>
          </aside>
        </div>
      </div>
      <footer>
        <div class="chat-txt">
          <input type="text" class="form-control" placeholder="message" [(ngModel)]="input" (keydown.enter)="sendMessage()" >
        </div>
        <div class="btn-group">
          <button class="btn btn-danger" data-original-title="" title="" (click)="sendMessage()">Send</button>
        </div>
      </footer>
    </div>
  </div>
</div>
