<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey.com">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="chat-room">
          <aside class="kiri-side">
            <footer>
              <a class="chat-avatar" href="#javascript:;">
                <img alt="" src="https://bootdey.com/img/Content/avatar/avatar1.png">
              </a>
              <div class="user-status">
                <i class="fa fa-circle text-success"></i>
                Available
              </div>
              <a class="chat-dropdown pull-right" href="#javascript:;">
                <i class="fa fa-chevron-down"></i>
              </a>
            </footer>
          </aside>
          <aside class="tengah-side">
            <div class="chat-room-head">
            </div>
<!--            <div class="group-rom">-->
<!--              <div class="first-part odd">Jonathan Smith</div>-->
<!--              <div class="second-part">Hello Cendy are you there?</div>-->
<!--              <div class="third-part">12:30</div>-->
<!--            </div>-->
<!--            <div class="group-rom">-->
<!--              <div class="first-part">Cendy Andrianto</div>-->
<!--              <div class="second-part">Yoman Smith. Please proceed</div>-->
<!--              <div class="third-part">12:31</div>-->
<!--            </div>-->
<!--            <div class="group-rom">-->
<!--              <div class="first-part odd">Jonathan Smith</div>-->
<!--              <div class="second-part">I want to share a file using chatroom</div>-->
<!--              <div class="third-part">12:32</div>-->
<!--            </div>-->
<!--            <div class="group-rom">-->
<!--              <div class="first-part">Cendy Andrianto</div>-->
<!--              <div class="second-part">oh sure. please send</div>-->
<!--              <div class="third-part">12:32</div>-->
<!--            </div>-->
<!--            <div class="group-rom">-->
<!--              <div class="first-part odd">Jonathan Smith</div>-->
<!--              <div class="second-part">Test</div>-->
<!--              <div class="third-part">12:32</div>-->
<!--            </div>-->
<!--            <div class="group-rom">-->
<!--              <div class="first-part">Cendy Andrianto</div>-->
<!--              <div class="second-part">Fantastic job, love it :)</div>-->
<!--              <div class="third-part">12:32</div>-->
<!--            </div>-->
<!--            <div class="group-rom">-->
<!--              <div class="first-part odd">Jonathan Smith</div>-->
<!--              <div class="second-part">Thanks</div>-->
<!--              <div class="third-part">12:33</div>-->
<!--            </div>-->
            <div class="group-rom" *ngFor="let msg of chatService.messages">
              <div class="first-part odd">{{msg.senderName}}</div>
              <div class="second-part">{{msg.message}}</div>
              <div class="third-part">{{msg.createdDateTime}}</div>
            </div>
            <footer>
              <div class="chat-txt">
                <input type="text" class="form-control" placeholder="message" [(ngModel)]="input">
              </div>
              <div class="btn-group">
                <button class="btn btn-danger" data-original-title="" title="" (click)="sendMessage()">Send</button>
              </div>
            </footer>
          </aside>
          <aside class="kanan-side">
            <div class="chat-room-head">
            </div>
            <div class="invite-row">
              <h4 class="pull-left">People</h4>
            </div>
            <ul class="chat-available-user">
              <li>
                <a href="#chat-room.html">
                  <i class="fa fa-circle text-success"></i>
                  Jonathan Smith
                </a>
              </li>
              <li>
                <a href="#chat-room.html">
                  <i class="fa fa-circle text-success"></i>
                  Jhone Due
                </a>
              </li>
              <li>
                <a href="#chat-room.html">
                  <i class="fa fa-circle text-success"></i>
                  Cendy Andrianto
                </a>
              </li>
              <li>
                <a href="#chat-room.html">
                  <i class="fa fa-circle text-danger"></i>
                  Surya Nug
                </a>
              </li>
              <li>
                <a href="#chat-room.html">
                  <i class="fa fa-circle text-warning"></i>
                  Monke Lutfy
                </a>
              </li>
              <li>
                <a href="#chat-room.html">
                  <i class="fa fa-circle text-muted"></i>
                  Steve Jobs
                </a>
              </li>
              <li>
                <a href="#chat-room.html">
                  <i class="fa fa-circle text-muted"></i>
                  Jonathan Smith
                </a>
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
