<div class="center-wrapper">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form [formGroup]="loginFormGroup" (ngSubmit)="login()" class="form-signing">
      <div formGroupName="user">
      <input type="text" id="login" formControlName="login" class="form-control" placeholder="Username" required autofocus>
      <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password" required>
      <button class="btn btn-lg btn-primary  btn-signing" value="login" type="submit">Sign in</button>
      </div>
    </form>
  </div>
</div>
