<mat-card class="center">
  <div class="text-center">
    <mat-card-title>New issue</mat-card-title>
  </div>
  <form class="width-70 center" [formGroup]="newIssueFormGroup" (ngSubmit)="createNewIssue()">
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <table class="issue-form">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput required formControlName="title">
            <mat-error *ngIf="this.newIssueFormGroup.get('title')?.errors?.['required']">
              Field is required
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Issue type</mat-label>
            <mat-select required formControlName="issueType">
              <mat-option *ngFor="let issueType of issueTypes" [value]="issueType.id">
                {{issueType.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="this.newIssueFormGroup.get('issueType')?.errors?.['required']">
              Field is required
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <p>
      <mat-form-field class="issue-form" appearance="fill">
        <mat-label>Issue</mat-label>
        <textarea matInput required formControlName="issue"></textarea>
        <mat-error *ngIf="this.newIssueFormGroup.get('issue')?.errors?.['required']">
          Field is required
        </mat-error>
      </mat-form-field>
    </p>
    <div class="issue-button-row">
      <button mat-raised-button>Create</button>
    </div>
  </form>
</mat-card>
